*{
  text-decoration: none;
}
body {
  background: linear-gradient(to bottom, 
    #ffffff 0%,     
    #fff5d6 30%,   
    #f8de90 70%,   
    #ffffff 100%   
  );
  min-height: 100vh;
  background-attachment: fixed; 
}
.icono {
  width: 80%;
  margin-left: 40px;
}
.logoregresar{
    width: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
}
.titulo1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
    color: rgb(34, 29, 29)
}
main{
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 600px;
  margin: 80px 0;
}
.imagen1{
  margin-left: 28%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.tabla {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid rgb(255, 238, 0); 
  font-size: 18px;
  text-align: center;
}

.tabla th,
.tabla td {
  border: 1px solid rgb(255, 238, 0); 
  padding: 5px;
}

.tabla thead {
  background-color: #fabb0f;
  font-weight: bold;
}
@media (min-width: 768px) { 
  .icono {
    width: 35%;
    margin: 0 auto;     
    display: block;
}
  .main {
    max-width: 500px;
    margin: 0 auto;     
    gap: 5px;
}
.imagen1 {
    margin: 0 auto;    
    display: block;
}

button {
    margin-left: 0;     
    margin: 0 auto;     
    font-size: 25px;
}

.table {
    width: 100%;
    margin: 0 auto;    
}
}
